/* All import css scripts, fonts, etc. */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/* General html tags */
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
  display: grid;
}
.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
  /* padding: 0px 30px; */
}
ul{
  margin: 0;
  padding: 0;
}
main{
  min-height: 500px;
}

/* Header information */
header{
  background: #0068E5;
  color: #33FF4F;
  min-height: 100px;
  padding: 30px;
}
  /* Social media */
  .social-media{
    /* display: inline-flex; */
    float: left;
    width: 13%;
  }
  ul.social-media-icons{
    list-style: none;
  }
  ul.social-media-icons li{
    display: inline;
  }
  ul.social-media-icons li a{
    display: block;
    text-align: center;
    margin: 12px 20px 0px 0px;
    border-radius: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.85);
  }
  /* Logo and title */
  .logo-title-header{
    display: inline-flex;
    float: left;
    width: 33%;
    padding-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  .radar-logo{
    width: 125px;
    height: 125px;
  }
  /* Search bar information */
  .search-bar{
    text-align: center;
    margin: 0px auto;
  }
  .search-bar form{
    padding-top: 5%;
  }
  .screen-reader-text{
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .search-field::placeholder{
    color: rgba(255, 255, 255, 0.9);
  }
  .search-field{
    /* background-image: url(../img/search-magnify-light@2x.png); */
    /* background-size: 40px 20px; */
    width: 44%;
    max-width: 90%;
    border-radius: 0px;
    font-style: italic;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    background-position: right 5px;
    background-repeat: no-repeat;
    box-shadow: none;
    margin: 0px auto !important;
  }
  .rating-select{
    width: 14%;
    max-width: 90%;
    border-radius: 0px;
    font-style: italic;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    /* background-position: right 5px; */
    /* background-repeat: no-repeat; */
    /* box-shadow: none; */
    /* margin: 0px auto !important; */
  }
    /* .rating{
      unicode-bidi: bidi-override;
      direction: rtl;
    }
    .rating > span{
      display: inline-block;
      position: relative;
      width: 1.1em;
    }
    .rating > span:hover:before, .rating > span:hover ~ span:before{
      content: "\2605";
      position: absolute;
    } */
  .location-select{
    width: 14%;
    max-width: 90%;
    border-radius: 0px;
    font-style: italic;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    /* background-position: right 5px; */
    /* background-repeat: no-repeat; */
    /* box-shadow: none; */
    /* margin: 0px auto !important; */
  }
  .search-submit{
    width: 14%;
    max-width: 90%;
    border-radius: 0px;
    font-style: italic;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    /* background-position: right 5px; */
    /* background-repeat: no-repeat; */
    /* box-shadow: none; */
    /* margin: 0px auto !important; */
  }
  /* .search-submit{
    display: none;
  } */

/* Navigation bar */
nav{
  background: #002AE5;
  color: #33FF4F;
  padding: 30px;
}
.menu{
  font-weight: 500;
  font-family: 'Fira Sans Condensed', sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  float: none;
}
.menu:noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu ul{
  margin: 0;
  padding: 0px 28%;
  list-style: none;
  display: inline;
}
.menu ul li{
  display: inline-block;
  position: relative;
  white-space: nowrap;
  background: none;
}
.menu ul li a{
  color: #64FF33;
  padding-right: 40px;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  zoom: 1;
  cursor: pointer;
  display: block;
  position: relative;
}
 .menu ul li a:hover, .menu ul li a.current-page:active{
   color: #DA33FF;
 }
.menu ul li a.current-page{
  color: #FF335B;
}
/* Footer information */
footer{
  padding: 30px;
  /* margin-top: 20px; */
  color: #33FF4F;
  background-color: #0068E5;
  text-align: center;
}

  /* Copy right information */
  .copyright-text p{
    display: inline;
    color: rgba(255, 255, 255, 0.45);
    font-family: "Share", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
  /* Footer other info */
  .copyright-text ul{
    display: inline;
    list-style: none;
  }
  .copyright-text ul li{
    position: relative;
    color: rgba(255, 255, 255, 0.45);
    font-family: "Share", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }


/* Responsive for mobile phones*/
@media screen and (min-width:0px) and (max-width:375px){
  .menu ul{
    display: block;
  }
}
