/* Selected item format */
.selected-item {
  min-height: 400px;
  background-image: url(../img/items/pixel2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  /* text-align: center; */
  /* color: #ffffff; */
}
.selected-item-info{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  float: left;
  max-width: 640px;
  text-align: left;
}
  /* Top item rating display */
  .selected-item-rating-border{
    padding-bottom: 32px;
    position: relative;
    width: 56px;
    height: 34px;
    margin: 16.17px 0;
  }
  .selected-item-rating{
    position: relative;
    width: 52px;
    height: 30.02px;
    background-color: #FF5B33;
    margin: 15.01px 0;
    top: 25%;
    left: 25%;
    z-index: 10;
    text-align: center;
    font-family: 'Share', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #FFF333;
  }
  /* Adds the littel triangel at the top of the display */
  .selected-item-rating::before{
    content: "";
    position: absolute;
    margin-top: -15px;
    width: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    left: 0px;
    border-top: 15.01px solid #FF5B33;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* Adds the littel triangel at the bottom of the display */
  .selected-item-rating::after{
    content: "";
    position: absolute;
    margin-top: 30px;
    width: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    left: 0px;
    border-top: 15.01px solid #FF5B33;
  }
  /* Name of the Top item */
  .selected-item-button{
    margin-bottom: 15px;
  }
  .selected-item-button a{
    display: inline-block;
    line-height: 1;
    /* margin: 15.01px 0; */
    /* top: 25%; */
    left: 25%;
    z-index: 10;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFF333;
    background: #FF5B33;
    border-radius: 10px;
    padding: 11px 30px;
    /* margin: 0px 7px 7px 0px; */
  }

  /* Discription of the top item */
  .selected-item-discription{
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    line-height: 1;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFF333;
    background: #FF5B33;
    border-radius: 10px;
    padding: 11px 30px;
    width: 80%;
  }
  .selected-item-discription h4{
    padding-top: 10px;
    margin: 0px;
    font-size: 18px;
  }
  .selected-item-discription li{
    padding-top: 10px;
    list-style: none;
    text-indent: 5mm
  }
  .overall-rating{
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1;
    font-size: 24px;
    font-weight: 500px;
    border-radius: 10px;
    padding: 11px 30px;
    width: 80%;
  }
  .rating-title{
    float: left;
    text-align: center;
  }
  .checked-star{
    text-align: center;
    color: orange;
  }

  /* User Reviews */
  .user-review{
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    line-height: 1;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFF333;
    background: #FF5B33;
    border-radius: 10px;
    padding: 11px 30px;
    width: 80%;
  }

  /* New review for the selected item */
  .new-review{
    position:relative;
    width: 90%;
    min-height: 250px;
    float: left;
    background-color: rgba(51, 243, 255, 0.5);
    border: 5px solid rgba(51, 54, 255, 0.5);
    border-style: outset;
    border-radius: 10px;
    margin: 10px;
    margin-top: 18%;
    /* text-align: center; */
  }
  .title{
    /* text-align: center; */
    font-family: 'Share', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
    text-transform: uppercase;
  }
  .rating{
    width: 20%;
    max-width: 90%;
    border-radius: 0px;
    /* font-style: italic; */
    font-size: 15px;
    /* border: none; */
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.8); */
    color: rgba(255, 255, 255, 0.9);
    color: red;
    /* background-color: transparent; */
  }
  .anonymous-checkBox{

  }
  .comments{
    width: 90%;
    border-radius: 0px;
    /* font-style: italic; */
    font-size: 15px;
    /* border: none; */
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.8); */
    /* color: rgba(255, 255, 255, 0.9); */
    color: red;
    /* background-color: transparent; */
    background-position: right 5px;
    background-repeat: no-repeat;
    box-shadow: none;
    margin: 10px;
  }
  .submit-review{
    width: 50%;
    max-width: 90%;
    border-radius: 10px;
    font-size: 15px;
    color: red;
  }
