/* All import css scripts, fonts, etc. */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/* Header title and log */
.logo-title-header{
  display: inline;
  float: left;
  width: 33%;
  max-width: 400px;
}
.radar-logo{
  width: 33%;
  height: 100%;
  float: left;
}
.title-header{
  display: inline-block;
  float: right;
  text-align: center;
  width: 66%;
  padding-top: 32px;
}

/* Social media */
.social-media{
  display: inline;
  float: right;
  width: 25%;
}
ul.social-media-icons{
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: right;
}
ul.social-media-icons li{
  display: inline;
  margin: 0px;
  padding: 0px;
}
ul.social-media-icons li a{
  display: inline-block;
  text-align: center;
  margin: 32px 7px 0px 7px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.85);
}

/* Search bar */
.search-bar{
  display: inline;
  text-align: center;
  line-height: 1;
  padding: 28px 0px 0px 0px;
  margin: 0px auto;
}
.search-bar form{
  padding-top: 32px;
}
.screen-reader-text{
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.search-field{
  background-image: url(../img/search-magnify-light@2x.png);
  background-size: 40px 30px;
  width: 290px;
  max-width: 90%;
  border-radius: 0px;
  font-style: italic;
  font-size: 15px;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  background-position: right 5px;
  background-repeat: no-repeat;
  box-shadow: none;
  margin: 0px auto !important;
}
.search-submit{
  display: none;
}

/* Navigation bar */
.menu{
  font-weight: 500;
  font-family: 'Fira Sans Condensed', sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  float: none;
  background: #5c39f2;
}
.menu:noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.menu ul li{
  display: inline-block;
  position: relative;
  white-space: nowrap;
  background: none;
}
.menu ul li::after{
  background-color: rgba(255, 255, 255, 0.08);
  height: calc(29px);
  content: '';
  display: block;
  width: 2px;
  top: 21px;
  position: absolute;
}
.menu ul li:first-child::after{
  display: none;
}
.menu ul li *{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li a{
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 57px;
  padding-left: 42px;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  zoom: 1;
  cursor: pointer;
  display: block;
  position: relative;
}
.menu ul li a:before{
  margin-left: 22%;
  margin-top: 21px;
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  height: 2px;
}
.current-page::before{
  width: calc(100% - 84px);
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
}
.current-page{
  background: none;
}






/* Footer copyright text */
.copyright-text{
  display: inline;
  width: 100%;
  margin-top: 32px;
}
.copyright-text p{
  display: inline;
  width: 50%;
  padding: 10px;
  position: relative;
  color: rgba(255, 255, 255, 0.45);
  font-family: "Share", Sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
/* Footer other info */
.copyright-text ul{
  display: inline;
  width: 50%;
  padding: 10px;
}
.copyright-text ul li{
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.45);
  font-family: "Share", Sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: right;
  padding: 0px 0px 0px 40px;
  float: right;
}
