/* Update section */
.update{
  width: 80%;
  position:relative;
  min-height: 200px;
  float: right;
  background-color: rgba(51, 243, 255, 0.2);
  border: 5px solid rgba(51, 54, 255, 0.5);
  border-style: outset;
  border-radius: 10px;
  margin: 10px;
  margin-top: 5%;
  margin-right: 10%;
  text-align: center;

}
.update-title{
  text-align: center;
  font-family: 'Share', sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 10px;
}

/* General inputs for both sections */
.update-name-field, .update-date-field,
.update-email-field, .update-password-field{
  width: 45%;
  border-radius: 0px;
  font-style: italic;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.9);
  color: #111111;
  background-color: transparent;
  background-position: right 5px;
  background-repeat: no-repeat;
  box-shadow: none;
  margin: 10px;
}
.update-name-field::placeholder, .update-date-field::placeholder,
.update-email-field::placeholder, .update-password-field::placeholder{
  text-align: left;
  color: #111111;
}
.update-submit{
  width: 50%;
  max-width: 90%;
  border-radius: 10px;
  font-size: 15px;
  color: #111111;
}

/* Responsive for mobile phones*/
@media screen and (min-width:0px) and (max-width:656px){
}
@media screen and (min-width:656px){
}
