/* Top item format */
.top-item {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.item-info{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  float: left;
  max-width: 640px;
  text-align: left;
}
  /* Top item rating display */
  .item-rating-border{
    padding-bottom: 32px;
    position: relative;
    width: 56px;
    height: 34px;
    margin: 16.17px 0;
  }
  .item-rating{
    width: 52px;
    height: 30.02px;
    background-color: #B0C4DE;
    margin: 15.01px 0;
    top: 25%;
    left: 25%;
    z-index: 10;
    text-align: center;
    font-family: 'Share', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #111111;
  }
  /* Adds the littel triangel at the top of the display */
  .item-rating::before{
    content: "";
    position: absolute;
    margin-top: -15px;
    width: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    left: 0px;
    border-top: 15.01px solid #B0C4DE;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* Adds the littel triangel at the bottom of the display */
  .item-rating::after{
    content: "";
    position: absolute;
    margin-top: 30px;
    width: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    left: 0px;
    border-top: 15.01px solid #B0C4DE;
  }
  /* Name of the Top item */
  .item-button{
    margin-bottom: 15px;
  }
  .item-button a{
    display: inline-block;
    line-height: 1;
    left: 25%;
    z-index: 10;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #111111;
    background: #B0C4DE;
    border-radius: 10px;
    padding: 10px 20px;
  }
  /* Discription of the top item */
  .top-item-mini-discription{
    margin-bottom: 15px;
    display: block;
    line-height: 1;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #111111;
    background: #B0C4DE;
    border-radius: 10px;
    padding: 10px 15px;
  }
  .top-item-specs h4{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
  }
  .top-item-specs li{
    padding-top: 10px;
    list-style: none;
    text-indent: 5mm
  }

/* Most popular items information */
.most-popular-items{
  float: left;
}
.most-popular-title{
  text-align: center;
  padding: 10px;
}
.most-popular-item{
  position:relative;
  min-height: 225px;
  min-width: 200px;
  background-color: rgba(51, 243, 255, 0.2);
  border: 5px solid rgba(51, 54, 255, 0.5);
  border-style: outset;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
.most-popular-rating-border{
  position: relative;
  width: 52px;
  float: right;
  background-color: #B0C4DE;
  border-radius: 10px;
  right: 5%;
  text-align: center;
  font-family: 'Share', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #111111;
  margin: 10px 0px;
}
.most-popular-item-button{
  position: relative;
  width: 50%;
  background-color: #B0C4DE;
  border-radius: 10px;
  left: 5%;
  text-align: center;
  font-family: 'Share', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin: 10px 0px;
}
.most-popular-item-button a{
  text-decoration: none; /* no underline */
  color: #111111;
}
.most-popular-item-img{
  position:relative;
  float: right;
  width: 100px;
  height: 150px;
  margin: 10px;
}
.most-popular-item-mini-discription{
  margin: 15px 5px;
  width: 50%;
  text-align: center;
  font-family: 'Share', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* Editors choice items information */
.editors-choice-item{
  float: right;
}
.editors-choice-title{
  text-align: center;
  padding: 10px;
}
.editors-item{
  position:relative;
  min-height: 225px;
  min-width: 200px;
  background-color: rgba(51, 243, 255, 0.2);
  border: 5px solid rgba(51, 54, 255, 0.5);
  border-style: outset;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
.editors-item-rating-border{
  position: relative;
  width: 52px;
  float: right;
  background-color: #B0C4DE;
  border-radius: 10px;
  right: 5%;
  text-align: center;
  font-family: 'Share', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #111111;
  margin: 10px 0px;
}
.editors-item-button{
  position: relative;
  width: 50%;
  background-color: #B0C4DE;
  border-radius: 10px;
  left: 5%;
  text-align: center;
  font-family: 'Share', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin: 10px 0px;
}
.editors-item-button a{
  text-decoration: none; /* no underline */
  color: #111111;
}
.editors-item-img{
  float: right;
  width: 100px;
  height: 150px;
  margin: 10px;
}
.editors-item-mini-discription{
  margin: 15px 5px;
  width: 50%;
  text-align: center;
  font-family: 'Share', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width:0px) and (max-width:500px){
  .most-popular-items{
    display: 100%;
    float: none;
  }
  .editors-choice-item{
    display: 100%;
    float: none;
  }
  .top-item-img{
    height: 200px;
  }
  .top-item-mini-discription{
    width: 80%;
  }
  .item-rating-border{
    /* background-image: url(../img/items/pixel2.png); */
    height: 200px;
    width: 100%;
    background-position: center center;
    background-size: contain;
    position: relative;
  }
}

@media screen and (min-width:500px){
  .top-item-img{
    display: none;
  }
  .top-item {
    /* background-image: url(../img/items/pixel2.png); */
  }
  .top-item-mini-discription{
    width: 30%;
  }
  .item-rating{
    position: relative;
  }
  .most-popular-items{
    width: 50%;
  }
  .editors-choice-item{
    width: 50%;
  }
}
