/* New Review */
.new-phone{
  position:relative;
  width: 90%;
  min-height: 250px;
  float: left;
  background-color: rgba(51, 243, 255, 0.2);
  border: 5px solid rgba(51, 54, 255, 0.5);
  border-style: outset;
  border-radius: 10px;
  margin: 10px;
  margin-top: 10%;
  text-align: center;
}
.name-title{
  text-align: center;
  font-family: 'Share', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  text-transform: uppercase;
}
.rating{
  width: 90%;
  max-width: 90%;
  border-radius: 0px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
  color: #111111;
}
.location-field{
  width: 90%;
  border-radius: 0px;
  font-size: 15px;
  color: #111111;
  background-position: right 5px;
  background-repeat: no-repeat;
  box-shadow: none;
  margin: 10px;
}
.location-field::placeholder{
  text-align: center;
  color: #111111;
}
.img-of-item{
  width: 70%;
  max-width: 90%;
  border-radius: 0px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
  color: #111111;
}
.phone-name-field{
  width: 70%;
  border-radius: 0px;
  font-size: 15px;
  color: #111111;
  background-position: right 5px;
  background-repeat: no-repeat;
  box-shadow: none;
  margin: 10px;
}
.phone-name-field::placeholder{
  text-align: center;
  color: #111111;
}
.details{
  width: 90%;
  border-radius: 0px;
  font-size: 15px;
  color: #111111;
  background-position: right 5px;
  background-repeat: no-repeat;
  box-shadow: none;
  margin: 10px;
}
.new-phone-submit{
  width: 90%;
  max-width: 90%;
  border-radius: 10px;
  font-size: 15px;
  color: #111111;
  margin-bottom: 10px;
}

/* Responsive for mobile phones*/
@media screen and (min-width:0px) and (max-width:375px){
}
@media screen and (min-width:376px){
  .name-title{
    font-size: 28px;
  }
  .rating{
    width: 20%;
  }
  /* .location-field{
    width: 90%;
  } */
  .img-of-item{
    width: 30%;
  }
  .phone-name-field{
    width: 60%;
  }
  .new-phone-submit{
    width: 50%;
  }
}
